body {
  margin: 0 auto;
  width: 1500px;
}

header {
  background-color: aliceblue;
  width: 100%;
}

main {
  background-color: rgb(47 107 160) !important;
  height: 500px;
  width: 80%;
}

aside {
  background-color: rgb(113 211 157);
  width: 20%;
}

footer {
  background-color: rgb(112 39 88);
  width: 100%;
}
