@use "sass:map";
@use "../abstracts" as *;

$_img-negative-margin: 2rem;

.content {
  border: solid thin $velvet1;
  height: calc(
    100vh - #{$footer-height} - #{$header-height} - #{$footer-img} - #{$_img-negative-margin}
  );
  padding: 3rem 0 calc(#{$footer-img} - #{$_img-negative-margin}) 1rem;
  position: relative;
  &__main {
    box-sizing: border-box;
    padding-right: 1rem;
    width: calc(100% - #{$sidebar-width});
    p:nth-child(odd) {
      color: $violet4;
    }
  }
  &__img {
    bottom: -$_img-negative-margin;
    height: $footer-img;
    opacity: 1;
    position: absolute;
    width: 100%;
    z-index: 2;
  }
}
