@use "../utilities/variables";
@use "../utilities/helpers";
@use "../utilities/mixins";

.footer {
  @extend %layout-width;

  @include mixins.border-radius(2rem, "bottom");
  @include mixins.toggle-colors();

  background-color: variables.$cap-yellow-1;
  color: variables.$cap-velvet-5;
  height: variables.$footer-height;
  line-height: variables.$footer-height;
  text-align: center;
}
