@use "../utilities/variables";

.header {
  align-items: center;
  background-color: variables.$cap-velvet-5;
  color: variables.$cap-yellow-1;
  display: flex;
  height: variables.$header-height;
  justify-content: center;
}
