@use "../utilities/variables";
@use "../utilities/helpers";
@use "../utilities/mixins";

.main {
  @extend %layout-width;

  box-shadow: inset 0 0 1px variables.$cap-velvet-5;
  display: grid;
  gap: 1rem;
  grid-template-areas:
    "button   .         sidebar"
    "article  article   sidebar"
    ".        image     sidebar";
  grid-template-columns: 2fr 1fr 1fr;
  height: calc(100vh - variables.$header-height - variables.$footer-height);
  padding: 0.5rem 1.5rem;

  &__button {
    @include mixins.border-radius(0.25rem);
    @include mixins.toggle-colors();

    background-color: variables.$cap-yellow-1;
    color: variables.$cap-velvet-5;
    grid-area: button;
    height: 2rem;
    margin-top: 1rem;
    padding: 0.5rem 1.5rem;
    width: fit-content;
  }

  &__article {
    grid-area: article;
  }

  &__sidebar {
    grid-area: sidebar;
    overflow-y: auto;
    padding: 1rem 0.5rem 1rem 0;

    p {
      font-size: 0.75rem;
      text-align: justify;
    }
  }

  &__image {
    @include mixins.toggle-colors();

    grid-area: image;
    max-height: 100%;
  }
}
