@use "../utilities/variables" as *;
@use "../utilities/helpers" as *;
@use "../utilities/mixins" as *;
@use "../utilities/icons" as *;

.test {
  background-image: svg-url-with-replaced-fill(
    $zoom,
    purple,
    $fill-to-replace: "#000000"
  );
  background-position-x: calc(100% - 1rem);
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: 2rem;
  border: solid thin black;
  height: 4rem;
}

:is(.footer.colorful) .main__sidebar {
  //   color: red;
}

:where(.footer.colorful) h4 {
  //   color: yellowgreen;
}

:has(.footer.colorful) .main__sidebar {
  //   background-color: yellowgreen;
}

.parent {
  .child {
    .grand-child & {
      &.sibling {
      }
    }
  }
}

.grand-parent {
  @at-root .parent {
    .child {
    }
  }
}

h4 {
  color: #000;

  :is(.colorful) & {
    background-color: purple;
    color: #000;
  }

  .colorful & {
    color: #fff;
  }
}

:is(header) > h1 {
  background-color: purple;
  color: #000;
}
