@use "sass:map";
$deep-purple: #2b0a3d;
$dark-grey: #272936;
$capgmini-blue: #0070ac;
$vibrant-blue: #12aada;
$grey: #ececec;
$white: #fff;

$colors-cold: (
  "1": (
    "1": #57ce80,
    "2": #33b469,
    "3": #2ea557,
    "4": #178b3d,
    "5": #178036,
  ),
  "2": (
    "1": #00e5e2,
    "2": #00d4cf,
    "3": #00bebe,
    "4": #00919a,
    "5": #007d74,
  ),
  "3": (
    "1": #00dfca,
    "2": #00b1a1,
    "3": #0f8689,
    "4": #0f6a73,
    "5": #0f434a,
  ),
  "4": (
    "1": #338090,
    "2": #336b7d,
    "3": #14596b,
    "4": #214554,
    "5": #173340,
  ),
);

$colors-warm: (
  "1": (
    "1": #e557ad,
    "2": #d13a8c,
    "3": #ba2980,
    "4": #a12980,
    "5": #811b6f,
  ),
  "2": (
    "1": #ffda80,
    "2": #ffd068,
    "3": #ffb24a,
    "4": #ff9c29,
    "5": #ff8e12,
  ),
  "3": (
    "1": #ff5770,
    "2": #ff455e,
    "3": #ff304d,
    "4": #e30021,
    "5": #a6001a,
  ),
  "4": (
    "1": #9e4780,
    "2": #802b73,
    "3": #750d5c,
    "4": #590a42,
    "5": #42142e,
  ),
);

// color palette colors:
$violets: map.get($colors-warm, "1");
$yellows: map.get($colors-warm, "2");
$reds: map.get($colors-warm, "3");
$velvets: map.get($colors-warm, "4");
$white: #fff;

/// @type Color
$main: map.get($violets, "5");

/// @type Color
$highlight: map.get($yellows, "2");

/// @type Color
$focus: map.get($violets, "1");

/// @type Color
$grey1: #f8f8f8;

/// @type Color
$grey2: #dfdfdf;

/// @type Color
$grey3: #b7b7b7;

/// @type Color
$grey4: #909090;
