@use "sass:map";
$deep-purple: #2b0a3d;
$dark-grey: #272936;
$capgmini-blue: #0070ac;
$vibrant-blue: #12aada;
$grey: #ececec;
$white: #fff;

$violet1: #e557ad;
$violet2: #d13a8c;
$violet3: #ba2980;
$violet4: #a12980;
$violet5: #811b6f;

$yellow1: #ffda80;
$yellow2: #ffd068;
$yellow3: #ffb24a;
$yellow4: #ff9c29;
$yellow5: #ff8e12;

$red1: #ff5770;
$red2: #ff455e;
$red3: #ff304d;
$red4: #e30021;
$red5: #a6001a;

$velvet1: #9e4780;
$velvet2: #802b73;
$velvet3: #750d5c;
$velvet4: #590a42;
$velvet5: #42142e;

// color palette colors:

$white: #fff;

/// @type Color
$main: $violet5;

/// @type Color
$highlight: $yellow2;

/// @type Color
$focus: $violet1;
