@use "../utilities/colors" as *;

.color-palette {
  filter: grayscale(1);
  margin: 0 auto 1rem;
  opacity: 0.5;
  transition: 0.2s all;
  width: min-content;

  &:hover,
  &.colorful {
    filter: none;
    opacity: 1;
  }

  &__row {
    display: flex;
    justify-content: center;
  }

  @each $row_number, $color in $colors-warm {
    .color-palette__row {
      &:nth-child(#{$row_number}) {
        @each $span_number, $hue in $color {
          // stylelint-disable-next-line max-nesting-depth

          i {
            &:nth-child(#{$span_number}) {
              background-color: $hue;
            }
          }
        }
      }
    }
  }

  i {
    height: 1.5rem;
    width: 1.5rem;
  }
}
