@use "../utilities/variables";
@use "../utilities/mixins" as *;
@use "../utilities/colors" as *;

$_controller-height: 1rem;
$_controller-width: 3rem;

.controller {
  left: 2rem;
  position: absolute;

  &__input[type="checkbox"] {
    @include border-radius(calc(#{$_controller-height} / 2));

    appearance: none;
    background-color: $grey3;
    bottom: calc($_controller-height / -2);
    box-shadow: 0 0 0 1px $grey4;
    height: $_controller-height;
    position: relative;
    width: $_controller-width;

    &,
    &::after,
    &::before {
      transition: 0.2s all;
    }

    &::before {
      @include border-radius(calc($_controller-height / 2));

      background-color: $grey1;
      box-shadow: 0 0 0 1px $grey4;
      content: "";
      display: block;
      height: $_controller-height;
      left: 0;
      position: absolute;
      width: $_controller-height;
    }

    &::after {
      align-items: center;
      color: #fff;
      content: attr(data-label);
      display: flex;
      font-size: 0.75rem;
      height: $_controller-height;
      justify-content: center;
      position: absolute;
      width: calc($_controller-width - $_controller-height);
    }

    &:checked {
      background-color: variables.$cap-velvet-2;

      &::before {
        left: calc($_controller-width - $_controller-height);
      }

      &::after {
        opacity: 1;
      }
    }

    &:not(:checked) {
      &::after {
        opacity: 0;
      }
    }
  }
}

body {
  &:has(.controller__input:checked) {
    --content-width: 100vw;
  }

  &:has(.controller__input:not(:checked)) {
    --content-width: 85vw;
  }
}
