@use "./reset";
@use "./color-palette";

$cap-yellow-1: #ffda80;
$cap-velvet-2: #802b73;
$cap-velvet-5: #42142e;
$cap-red-5: #a6001a;

:root {
  --content-width: 80vw;
}

.header,
.main,
.footer {
  margin: 0 auto;
  width: var(--content-width);
}

.header {
  background-color: $cap-velvet-5;
  color: $cap-yellow-1;
  height: 10rem;
}

.footer {
  background-color: $cap-yellow-1;
  color: $cap-velvet-5;
  height: 5rem;
}
